@import "tailwindcss";
@import "tw-animate-css";

body{

font-family: skiper;
} 

@font-face {
  font-family: "skiper";
  src:url("/fonts/skiper.woff2");
  font-weight: 700;
  font-style: normal;
}
.stroked-text {
  -webkit-text-stroke: 1px white;
  color: transparent; /* Optional, to show only stroke */
}
